#title {
  width: 15%;
  text-align: right;
}

#mainTextFieldContainer {
  width: 85%;
  margin-top: 1.5%;
}

#page-top {
  background-color: #F7F7F9;
  border-bottom: black;
}

#side-bar {
  margin-top: 10px;
}

#mainWindow {
  height: 100%;
}

.popList {
  text-align: center;
  margin-top: 10px;
}
