<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Stacktrace - Consider the whole.">
    <meta name="author" content="David Adam Hernandez">
    <link rel="icon" href="">

    <title>Stacktrace</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!--Where the css is-->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">

  </head>
<body>
  <div class="container">
    <div class="row" id="page-top">
      <div class="col-lg-4" id="title">
        <h3> Stack Trace </h3>
      </div>
      <div class="input-group" id="mainTextFieldContainer">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="searchButton">Search</button>
        </span>
        <input type="text" id="mainTextField" class="form-control" placeholder="Search the stack">
      </div>
    </div>

    <div class="row" id="mainWindow">
      <div class="col-lg-2" id="side-bar">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="addToStackList"> + </button>
          </span>
          <input type="text" id="stackItemField" class="form-control" placeholder="Add to stack">
        </div>
        <div class="popList">
          <ul class="list-group"></ul>
        </div>
      </div>
      {% block body %}{% endblock %}
      </div>
    </div>

  </div>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!--jQuery UI-->
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<!--d3-->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
